<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4>All Tasks</h4>

      <% @tasks.each do |task| %>
        <div class="card">
          <div class="card-header">
            <%= task.task_name %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= task.description %></p>
            <% if current_user.admin? %>
              <td><%= link_to 'Show', task_path(task) %></td>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>