<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <h1>All Tasks</h1>

  <% @tasks.each do |task| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= task.task_name %></h5>
        <p class="card-text"><%= task.description %></p>
        <% if current_user.admin? %>
          <td><%= link_to 'Show', task_path(task) %></td>
        <% end %>
      </div>
    </div>
  <% end %>
</div>